:root {
--slate-blue: #706DC4ff;
--eminence: #7F2A8Cff;
--licorice: #0D0713ff;
--raisin-black: #100B1Cff;
--space-cadet-2: #b9c3ff;
--dark-purple: #21112Dff;
--negro: black;
--blanco: whitesmoke;
--oscuro: #0d0713cc;
--delft-blue: #293672ff;
--green-blue: #484498;
--red-purple: #69a4fe;
--red-purple2: #f712a1;
--blue-dark: #a80d6d;
--red-purple3: #f712a1;
}

* {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic3-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic3-Bold.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts/Gill\ Sans.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gill Sans';
  src: url('../fonts//Gill\ Sans\ Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}


body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/abstractgradientdark.jpg);
    background-size: auto;
    background-position: center;
    transition: font-family 0.3s ease;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
}

body strong {
  font-weight: 700;
  color: #000;
}

header {
    background-color: var(--oscuro);
    color: var(--slate-blue);
    padding: 0px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--eminence) 3px solid;
}

header h1 {
  text-shadow: 1px 1px var(--space-cadet-2);
  font-size: 3em;
  margin-bottom: 1px;
}

header h3 {
  margin-top: 1px;
  color: whitesmoke;
  font-size: 1.2em;
}

a:focus,
button:focus, input:focus , textarea:focus {
    outline: 5px solid var(--space-cadet-2);
    outline-offset: 2px;
    border-radius: 3px;
}

main {
  padding-left: 12%;
  padding-right: 12%;
}

.profile-section {
  padding: 10px;
  border: 2px solid var(--dark-purple);
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: radial-gradient(circle, #020024 0%, #3d4454 20%, #020024d4 95%);
}


#neg {
  font-weight: bold;
  text-decoration: none;
}

.menulista {
  width: 30%;
  min-width: 200px;
}

#menuUno {
  color: var(--licorice);
  list-style: none;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
}

#menuDos {
  color: var(--licorice);
  list-style: none;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
}

.botonPerfil {
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(103deg, var(--green-blue) 5%, var(--red-purple) 45%, var(--red-purple3) 80%, var(--blue-dark) 100% ) padding-box,
              linear-gradient(200deg, var(--negro) 20%, var(--delft-blue) 100%) border-box;
  border-radius: 1em;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  font-weight: bold;
  transition: transform 0.5s ease;
  font-family: inherit;
  font-size: inherit;
}

.botonPerfil:hover {
  background: linear-gradient(283deg, var(--blue-dark) 0%, var(--red-purple3) 10%, var(--red-purple) 40%, var(--green-blue) 80%) padding-box,
              linear-gradient(200deg, var(--green-blue) 20%, var(--blanco) 100%) border-box;
  transform:scale(0.9)
}

.botonPerfil:active {
  transform: translateY(2px);
}

hr {
  background-color: var(--dark-purple);
  height: 3px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#nota {
  font-size: 0.7rem;
  color: var(--slate-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

#fotoPerfil {
  width: 75%;
  min-width: 0px;
  height: auto;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#imagen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#infoText {
  white-space: pre-line;
  line-height: 1.5;
}

.imgcent img {
  width: 200px;
  height: auto;
  margin-bottom: 50px;
}

#contTitulo {
  display: flex; 
  justify-content: center; 
  align-items: flex-end;
}

#infoImg {
  width: 50px;
}

#infoTitle {
  display: inline-block;
  font-weight: bold;
  font-size: xx-large;
}

#menuLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.imgRedes {
  max-width: 160px;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  transition: transform 0.5s ease;
  display: inline-block;
}

.amenu {
  text-decoration: none;
  color: var(--blanco);
  background: url(../img/abstractgradientdark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  padding: 15px 25px 15px 25px;
  border: 2px solid black;
  border-radius: 5px;
  transition: transform 0.5s ease;
  display: inline-block;
}

#menuLinks a:hover {
  transform: scale(1.05);
}

#infoBox {
  scroll-margin-top: 20px;
  outline: none;
  margin-top: 20px;
  display: none;
  background-color: whitesmoke;
  border: 3px solid var(--raisin-black);
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 80px;
}

#infoBox button {
  color: black;
  margin-top: 1rem;
  padding: .4rem .8rem;
  border-color: var(--slate-blue);
  border-radius: 5px;
}

#skill img {
  width: 50px;
  height: auto;
  display: block;
}

#skill {
  margin-inline: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  text-align: center;
}

.habilidad {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.skill {
  border-radius: 50%;
  border: 3px solid var(--slate-blue);
  width: 10vw;
  height: 10vw;
  min-width: 150px;
  min-height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#descargacv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

#descargacv a {
  text-decoration: none;
  color: var(--space-cadet-2);
  font-weight: bold;
  padding: 10px;
}

#descargacv img {
  width: 10vw;
  max-width: 100px;
  min-width: 40px;
}

#titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  background-color: var(--licorice);
  color: var(--eminence);
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: var(--eminence) 3px solid;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.tarjeta1 {
  width: 300px;
  height: 420px;
  background: linear-gradient(135deg, var(--blue-dark)35%, var(--red-purple));
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 10px 24px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
  padding: 10px;
}

.tarjeta {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid var(--red-purple);
  width: 280px;
  height: 340px;
  overflow-y: auto;
  font-family: inherit;
  font-size: inherit;
}

.tarjeta span {
  padding-top: 30px;
}

.tarjeta img {
  width: 100px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 5px;
}

.tarjeta2 {
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid var(--red-purple);
  width: 280px;
  height: 190px;
  margin-bottom: 8px;
  overflow-y: auto;
  font-family: inherit;
  font-size: inherit;
}

.tarjeta2 span {
  padding-top: 18px;
}

.tarjeta2 img {
  width: 80px;
  height: auto;
  margin-top: 2px;
  margin-bottom: 5px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--eminence);
  background-color: whitesmoke;
  width: 280px;
  border-radius: 10px;
  border: 3px solid var(--red-purple);
  margin-bottom: 10px;
}

.seleccion {
  color: var(--red-purple2);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  background-color: var(--dark-purple);
  padding-left: 20px;
  padding-right: 20px;
}

.seleccion:hover {
  transform: scale(1.2);
}

.select {
  color: var(--red-purple2);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 3px;
  background-color: var(--dark-purple);
  padding-left: 20px;
  padding-right: 20px;
  border: #000000 2.5px solid;
}

.select:hover {
  transform: scale(1.2);
}

.hidden {
  display: none;
  visibility: hidden
}

.botones {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campos {
display: flex;
flex-direction: column;
margin-bottom: 10px;
margin-top: 15px;
justify-content: space-evenly;
align-items: center;
text-align: center;
}

.campos label {
  font-size: 18px;
  font-weight: bold;
  color: var(--space-cadet-2);
}

.campos input , textarea {
  width: 40vw;
  max-width: 600px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

input[type="submit"] {
  display: inline-block;
  border: 1px solid transparent;
  background: linear-gradient(103deg, var(--green-blue) 5%, var(--red-purple) 45%, var(--red-purple2) 80%, var(--blue-dark) 100% ) padding-box,
              linear-gradient(200deg, var(--negro) 20%, var(--delft-blue) 100%) border-box;
  border-radius: 1em;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  font-weight: bold;
  transition: transform 0.5s ease;
}

input[type="submit"]:hover {
  background: linear-gradient(283deg, var(--blue-dark) 0%, var(--red-purple2) 10%, var(--red-purple) 40%, var(--green-blue) 80%) padding-box,
              linear-gradient(200deg, var(--green-blue) 20%, var(--blanco) 100%) border-box;
  transform:scale(0.9)
}

input[type="submit"]:active {
  transform: translateY(2px);
}

.descripcion {
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

#espacio {
  text-align: center;
  text-decoration:underline;
  font-weight: bold;
}

#espacio2 {
  text-align: center;
  text-decoration:underline;
  font-weight: bold;
  font-size: x-large;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 220px;
  font-size: small;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 40%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

#selectVisual {
  margin-bottom: 10px;
  background-color: #00000070;
  width: fit-content;
  height: fit-content;
}

#neglavel {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: large;
}

body.bionic-active header h1,
body.bionic-active header h3 {
    background-color: rgba(245, 245, 245, 0.35);
}

header h1,
header h3 {
    background-color: transparent;
}

strong {
    font-weight: 700;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}


body[style*="Atkinson Hyperlegible"] {
    font-size: 1.4em;
    font-weight: bold;
}

body.fuente-alternativa .tarjeta {
    height: 440px;
}

body.fuente-alternativa .tarjeta2 {
    height: 230px;
}

body.fuente-alternativa .tarjeta1 {
    height: 520px;
}

#modoInversoBtn {
  background-color: var(--dark-purple);
  color: var(--blanco);
  border: 2px solid var(--slate-blue);
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(255,255,255,0.2);
  transition: transform 0.3s;
}

#modoInversoBtn:hover {
  transform: scale(0.95);
}

body.inverso {
  background-image: url(../img/abstractgradientlight.jpg) !important;
}

body.inverso .amenu {
  background: url(../img/abstractgradientlight.jpg) no-repeat center / cover !important;
}

.configuracion {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {

  
    body {
        background-size: cover;
    }

    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    #menuUno, #menuDos {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .orden {
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
        
    }


    footer {
        position: relative;
    }
    
    #menuLinks {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        justify-content: center;
    }
    
    li {
        font-size: large;
    }

    .campos input , textarea {
    width: 20vw;
      max-width: 300px;
    }
    
    #skill {
        margin-inline: auto;
    }
    
    h1 {
        font-size: 3vw;
    }
    
    header h1 {
        font-size: 2em;
    }

    header h3 {
        font-size: 0.8em;
    }
    footer {
        font-size: 0.8em;
        padding: 0px;
        padding-bottom: 20px;
   }
}


